.showMoreButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 52px;
}

.sortContainer {
  display: flex;
  gap: 15px;
  align-items: center;
  @media (max-width: 900px) {
    width: 100%;
    justify-content: space-between;
  }
}

.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 900px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.marginBottom102 {
  margin-bottom: 30px;
}

.booksList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px 30px;
  @media (max-width: 1200px) {
    gap: 20px 15px;
    grid-template-columns: 1fr 1fr;
  }
}

.myBookmarksTitle {
  color: #a5acbd;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 35px;
}

.desktopFiltersContainer {
  display: none;
  @media (min-width: 1000px) {
    display: block;
  }
}

.mobileFiltersSelect {
  margin-top: 10px;
  @media (min-width: 1000px) {
    display: none;
  }
}
