.searchInputContainer {
  background: var(--color-backgroud);
  border-radius: 5px;
  margin-bottom: 20px;
  input {
    font-size: 14px;
    border-color: #282d3b;
    &:focus {
      border-color: #282d3b;
    }
  }
}

.showMoreButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 52px;
}

.booksList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px 30px;
  @media (max-width: 1200px) {
    gap: 20px 15px;
    grid-template-columns: 1fr 1fr;
  }
}

.marginBottom30 {
  margin-bottom: 30px;
}

.marginBottom102 {
  margin-bottom: 102px;
}

.sortContainer {
  display: flex;
  gap: 15px;
  align-items: center;
  @media (max-width: 900px) {
    width: 100%;
    justify-content: space-between;
  }
}

.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 900px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.desktopFiltersContainer {
  display: none;
  @media (min-width: 1200px) {
    display: block;
  }
}

.mobileFiltersButton {
  display: block;
  @media (min-width: 1200px) {
    display: none;
  }
}
