.container {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 12px;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: relative;
  height: 20px;
  width: 20px;
  min-width: 20px;
  background-color: transparent;
  border: 1px solid var(--color-light_grey);
  border-radius: 5px;
  &:hover {
    border: 1px solid var(--color-blue);
  }
}

.container input:checked ~ .checkmark {
  background-color: var(--color-blue);
  border: 1px solid var(--color-blue);
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 6px;
  top: 3px;
  width: 6px;
  height: 10px;
  border: solid var(--color-main);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  transform: rotate(35deg);
}

.label {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--font-color);
}

