.container {
  display: grid;
  grid-template-columns: 255px 1fr;
  column-gap: 30px;
  @media (max-width: 900px) {
    grid-template-columns: 1fr;
    & > div:first-child {
      display: none;
    }
  }
}
