.container {
  margin-bottom: 90px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 29px;
}

.title {
  font-weight: 600;
  font-size: 18px;
}

.paragraph {
  font-size: 16px;
}
