.container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.inputContainer {
  border: 1px solid var(--font-color);
  border-radius: 5px;
  height: 40px;
  color: var(--font-color);
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.input {
  flex-grow: 1;
  color: var(--font-color)
}

.label {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.iconContainer {
  width: 24px;
  height: 24px;
}
