.showMoreButton {
  background: #282d3b;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  gap: 10px;
  color: var(--color-white);

  &:hover {
    background-color: var(--color-blue);
    color: black;

    svg path {
      stroke: black;
    }
  }
}
